.header {
  color: red;
}

#containers {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.container {
  width: 25%;
  padding: 3px 10px;
}

.container h3 {
  margin: 0;
  padding: 6px 10px;
  border-radius: 2px;
}

.todo-Container {
  background-color: pink;
}

.todo-item-container {
  background-color: pink !important;
}

.todo-Container h3 {
  margin: 0 0 5px 0;
  padding: 3px 0;
}

.inProgress-Container h3 {
  background-color: orange;
}

.verification-Container h3 {
  background-color: yellow;
}

.done-Container h3 {
  background-color: green;
}

.item-container {
  background-color: blue;
  padding: 1px;
}

.single-item {
  background-color: white;
  margin: 2px;
  padding: 2px 0 2px 30px;
  border: solid 1px black;
  border-radius: 2px;
  width: auto;
  cursor: grab;
}

.add-new-task {
  display: flex;
  justify-content: space-between;
  margin: 7px 0;
}

.add-new-task input {
  padding: 0 5px;
}

@media only screen and (max-width: 814px) {
  #containers {
    flex-wrap: wrap;
  }
}
